


html {
font-size: 62.5%;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.title {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}
h1 {
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    font-size: 3.2rem;
    font-weight: 700;
}
.welcome {
    font-size: 2rem;
    width: 70%;
    text-align: center;
    margin-top: 1rem;
    line-height: 2.5rem;
}


.charDetails {
    display: flex;
    justify-content: center;
}
.character, .art, .stats {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.charBtn {
    font-size: 2rem;;
    height: 3rem;
    width: fit-content;
}

h3, .baseStats {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 1rem 2rem
}

.artSrc {
    font-size: 1.5rem;
}


.rollBtn {
    font-size: 2rem;;
    height: 3rem;
    width: fit-content;
}
